node_modules/
*.lock
target/
circom/e2e_tests/contribute.out
circom/e2e_tests/hardhat/artifacts/
circom/e2e_tests/hardhat/cache/
circom/e2e_tests/hardhat/package-lock.json
circom/e2e_tests/hardhat/typechain-types/
circom/e2e_tests/plonky2.r1cs
circom/e2e_tests/plonky2.sym
circom/e2e_tests/plonky2.zkey
circom/e2e_tests/plonky2_0.zkey
circom/e2e_tests/plonky2_cpp/
circom/e2e_tests/proof.json
circom/e2e_tests/public.json
circom/e2e_tests/verification_key.json
circom/e2e_tests/verifier.sol
circom/e2e_tests/witness.wtns
circom/e2e_tests/zkey0.out
circom/package-lock.json